@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --color1: #18277A;
    --color2: #0351FF;
    --color3: rgb(109, 109, 109);
    --box__shadow: 0px 0px 20px rgba(86, 153, 250, 0.25);
}

html,
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.shadow {
    box-shadow: var(--box__shadow) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

.form-control,
.form-select {
    font-weight: 300;
}

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #25252563;
    z-index: 9998;
    opacity: 0;
    transition: display 1.1s ease-in-out;
}

.blueBtn {
    background: linear-gradient(106.9deg, #265DB0 1.44%, #18277A 98%);
    box-shadow: none !important;
    color: #fff !important;
    font-weight: 400;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bg-img0 {
    top: 0;
    right: 0;
}

input {
    box-shadow: none !important;
}

.input-group>input {
    padding-right: 65px !important;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.showed {
    display: block;
    opacity: 1;
    transition: display 1.5s ease-in-out;
}


/* ---------------- Home Page CSS ---------------- */


/* navbar css */

.navbar {
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
}

.navbar-light.main-nav {
    transition: all 0.3s ease-in-out;
}

#closeNav {
    right: 10px;
    top: 10px;
    z-index: 10;
    cursor: pointer;
}

.nav-colored {
    transition: all 0.3s ease-in-out;
    background-color: #fff !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    border-bottom: none !important;
    box-shadow: 0px 4px 4px rgba(42, 139, 242, 0.2) !important;
}

.navbar-toggler {
    padding: .25rem .75rem;
    box-shadow: none !important;
    border: 0;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: var(--color1);
}

.navbar-light.main-nav .nav-link,
.navbar-light.main-nav .nav-link:hover,
.navbar-light.main-nav .nav-link:focus {
    margin: 0 2.5rem;
    color: var(--color1);
    font-weight: 400;
    font-size: 24px;
}

.navbar-light.main-nav .btn-blue,
.navbar-light.main-nav .btn-blue:focus,
.navbar-light.main-nav .btn-blue:hover {
    border-radius: .3rem;
    background-color: var(--color2);
    color: #fff;
    padding: .25rem 1.2rem;
}


/* main section css */

main {
    padding-top: 144px;
    background-color: #f7f9fd;
}

main#home .g-5 {
    --bs-gutter-x: 5rem;
}

main#home section {
    padding: 150px 0;
}

main#home section .row>div {
    z-index: 1;
}

.bg-img {
    position: absolute;
    z-index: 0;
    max-width: 80%;
}


/* top-header section css */

.top-header h1 {
    color: var(--color1);
    font-size: 62px;
    line-height: 87px;
}

.top-header h1>span {
    color: var(--color2);
    font-weight: 600;
}

.p-cont,
.crt-acc-sec p {
    color: var(--color3);
    font-size: 22px;
    font-weight: 400;
    padding: 15px 0;
}

.btn.btn-custom,
.btn.btn-custom:hover,
.btn.btn-custom:focus {
    padding: 20px 30px;
    font-size: 1.6rem;
    border-radius: .3rem;
    background-color: var(--color2);
    border: 0;
    color: #fff;
    box-shadow: none;
}

.sec-heading,
.crt-acc-sec h2 {
    position: relative;
    color: var(--color2);
    font-size: 48px;
    line-height: 72px;
    font-weight: 400;
    margin-bottom: 30px;
}

.sec-heading::after,
.crt-acc-sec h2::after {
    position: absolute;
    content: '';
    width: 110px;
    height: 2px;
    left: 0;
    bottom: -20px;
    background-color: var(--color2);
}

.crt-acc-sec h2 {
    color: var(--color1);
    letter-spacing: 2px;
}

.crt-acc-sec h2::after {
    left: 50%;
    transform: translateX(-50%);
}

.crt-acc-sec p {
    color: var(--color2);
}


/* Companies-sec css */

.bg-img2 {
    top: -100px;
    right: 0;
}


/* footer-sec css */

.footer-wrap {
    padding: 21% 0 80px;
}

.footer-sec {
    background: url("../images/footer.png") bottom left no-repeat, #f7f9fd;
    background-size: 100% 100%;
}

.footer-sec .row>div {
    z-index: 1;
}

.footer-sec h2 {
    color: #fff;
    font-size: 54px;
    text-transform: uppercase;
    font-weight: 700;
}

.social-icons {
    margin: 50px 0;
}

.navbar.login-nav,
.navbar-borderd {
    background: #fff;
    border-bottom: 1.5px solid #bbd6fd;
}

.social-icons>a {
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(140deg, rgba(36, 85, 168, 1) 0%, rgba(25, 44, 128, 1) 100%);
    text-align: center;
    margin: 0 15px;
}

.social-icons>a>i {
    font-size: 1.4rem;
    line-height: 60px;
    vertical-align: middle;
}

.copyright {
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    z-index: 1;
}


/* ---------------- login Page CSS ---------------- */


/* login nav css */

.navbar.login-nav .nav-link {
    font-size: 24px;
    margin: 10px 30px;
}

.navbar.login-nav .nav-link:hover,
.navbar.login-nav .nav-link:focus,
.navbar.login-nav .nav-link.active {
    font-weight: 400;
    border-bottom: 3px solid var(--color2);
}


/* login-sec css */

.login-sec {
    padding: 100px 0;
}

.login-sec h4 {
    color: var(--color2);
    margin-bottom: 30px;
}

.login-sec h3 {
    font-size: 36px;
    line-height: 54px;
    color: var(--color3);
    margin-bottom: 30px;
    padding: 0 90px;
}

.login-box {
    background-color: #fff;
    padding: 50px;
}

.login-box h2 {
    color: var(--color2);
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.login-box form {
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.login-box .form-control,
#registerForm .form-select {
    border: 0;
    border-bottom: 1px solid #ced4da;
    color: #000;
    background-color: transparent;
    border-radius: 0;
    padding: .275rem 0;
    font-size: 18px;
    box-shadow: none;
}

.login-box .form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c8c8c8 !important;
    opacity: 1;
    /* Firefox */
}

.login-box .form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c8c8c8 !important;
}

.login-box .form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #c8c8c8 !important;
}

.login-box .form-text {
    display: none;
    margin-top: 0.6rem;
    font-size: 12px;
    color: #6c757d;
}

.error {
    display: block !important;
    color: #FC2222 !important;
}

.success {
    display: block !important;
    color: green !important;
}

.login-box .blueBtn {
    border-radius: 0;
    font-size: 1.5rem;
}

.forgotPass {
    color: var(--color2);
    margin: 30px;
}

.newUser-wrap p {
    padding: 30px;
    font-size: 14px;
}

.login-box .registerBtn {
    font-size: 1.5rem;
    font-weight: 400;
    color: #707c97;
    border: 2px solid #707c97;
    border-radius: 0;
    box-shadow: none;
}


/* footer css */

.footer {
    background-color: #212240;
    color: #fff;
}

.footer-brand,
.footer-brand:hover {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
}

.footer-heading {
    text-transform: uppercase;
    padding-top: 20px;
    margin-bottom: 4.5rem;
    font-size: 2rem;
    white-space: nowrap;
}

.conInfo>li,
.conSocial>li,
.tarmsWrap>li {
    list-style: none;
}

.conSocial {
    padding: 30px 0;
}

.conInfo>li:nth-last-child(1) {
    margin-top: 30px;
}

.conInfo>li>a,
.conInfo>li>a:hover,
.conSocial>li>a,
.tarmsWrap>li>a,
.tarmsWrap>li>a:hover {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 5px 0;
}

.conSocial>li>a {
    padding: 0 12.5px;
}

.conSocial>li>a>img {
    width: 25px;
}

.conSocial>li:nth-last-child(1)>a>img {
    width: 20px;
}

.copy-r {
    color: #8d8e9e;
    margin-top: 60px;
}

.tarmsWrap>li>a,
.tarmsWrap>li>a:hover {
    padding: 0;
    margin-left: 36px;
    color: #8d8e9e;
}


/* ---------------- Recruiter Page CSS ---------------- */

#registerForm h2 {
    color: #000;
    margin: 0;
    font-size: 1.8rem;
}

#registerForm p {
    font-size: 1.075rem;
}

#registerForm p>a,
#registerForm p>a:hover {
    text-decoration: none;
    color: var(--color2);
}

#registerForm input[type="tel"] {
    border-left: 1px solid #f5f5f5;
}

#countryCode {
    padding: 0 5px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
}

#countryCode>input {
    margin: 0;
    padding: 0;
    border: 0;
    width: 65px;
    outline: none;
}

.des-text {
    color: var(--color1);
    font-size: .9rem;
}

.desc-check .form-check {
    padding: 0;
}

.desc-check .form-check-label {
    border-radius: 15px;
    border: 1px solid #626262;
    margin: 15px 0;
    padding: 10px 0;
    cursor: pointer;
}

.desc-check .form-check-label>span:nth-child(1) {
    display: block;
    font-size: 1.2rem;
}

.desc-check .form-check-label>span:nth-child(2) {
    display: block;
    font-size: .8rem;
}

.desc-check .form-check-input:checked+.form-check-label {
    border: 0;
    color: #fff;
    background: linear-gradient(155.74deg, #4FBCF5 -2.15%, #5A82FC 88.68%);
}

#registerForm .form-select:invalid {
    color: #c8c8c8;
}

#registerForm .form-select {
    padding-right: 2.25rem;
    background-image: url(../images/icons/caret-down-blue.png);
    background-size: 18px 18px;
}

.form-check.user-select-none label {
    font-size: .9rem;
    cursor: pointer;
}

.form-check.user-select-none label>a,
.form-check.user-select-none label>a:hover {
    text-decoration: none;
    color: var(--color2);
}

input[type=checkbox]:focus {
    box-shadow: none;
}

#registerForm .blueBtn {
    border-radius: 10px;
}

#registerForm form {
    border-bottom: 0;
}


/* ---------------- Recruiter Search Page CSS ---------------- */

.search-sec {
    max-width: 980px;
    width: 100%;
    margin: auto;
}

.search-sec,
.foegetPass-sec {
    padding: 100px 0;
}

.search-sec input[type="search"] {
    font-size: 1.1rem;
}

.search-sec .btn.blueBtn {
    font-size: 1.5rem;
    padding: 0.8rem 4.5rem;
    box-shadow: 0px 2px 10px rgb(42 139 242 / 20%) !important;
}

.searchBox {
    border-radius: 5px;
    overflow: hidden;
}

.searchBox .input-group-text {
    background-color: #fff;
    padding: 18px 20px;
}

.searchBox .input-group-text>img {
    width: 20px;
}

.serchText h1 {
    color: #595959;
    font-size: 46px;
}

.serchText p {
    font-size: 1.5rem;
    color: #949494;
}


/* ---------------- Recruiter - Search Result Page CSS ---------------- */

.input-group input[type="search"] {
    padding: 0.375rem 0.75rem !important;
}

.searchResult-sec .searchBox>input[type="submit"] {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}

.searchResult-sec .filters-Wrap {
    background-color: #fff;
    padding: 25px 0;
    border-radius: 10px;
}

.filters-Wrap>div:nth-child(1) {
    padding: 0 30px;
    border-bottom: 2px solid rgba(3, 81, 255, .2)
}

.filters-Wrap>div:nth-child(1)>h3 {
    color: #707C97;
    font-size: 1.5rem;
    vertical-align: middle;
}

.filters-Wrap>div:nth-child(1)>a,
.moreFtl>a {
    text-decoration: none !important;
    color: var(--color2);
    font-size: 12px;
}

.filters-collapse .accordion-item {
    border-bottom: 2px solid rgba(3, 81, 255, .2)
}

.filters-collapse .accordion-button {
    box-shadow: none !important;
    color: #707C97;
    padding: 12px 32px;
    background-color: #fff !important;
    font-size: 18px;
}

.filters-collapse .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url(../images/icons/caret-down-blue.png);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.filters-collapse .accordion-button:not(.collapsed)::after {
    background-image: url(../images/icons/caret-down-blue.png);
    transform: rotate( -180deg);
}

.filters-collapse .accordion-body {
    padding: 0 30px 1rem;
}

.filters-collapse .form-check {
    margin-bottom: .25rem;
}

.form-check-input {
    border: 1.5px solid rgba(0, 0, 0) !important;
    cursor: pointer;
}

.form-check-input:checked[type=checkbox] {
    border: 0 !important;
}

.form-check-label {
    cursor: pointer;
}

.filters-collapse .form-check-label {
    display: block;
    text-transform: capitalize;
    padding-left: .5rem;
    color: #434D63;
}

.moreFtl {
    padding: 10px 0;
}


/* Experience slider */

.box-minmax {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: #000;
}

.range-slider {
    padding: 50px 0 10px;
    position: relative;
}

#rs-range-line {
    display: block;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#rs-range-line:focus {
    outline: none;
}

#rs-range-line::-webkit-slider-runnable-track {
    width: auto;
    height: 2px;
    cursor: pointer;
    box-shadow: none;
    background-color: rgb(226, 229, 234);
    border-radius: 0px;
    border: 0;
    padding: 0;
}

#rs-range-line::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: none;
    background-color: rgb(226, 229, 234);
    border-radius: 0px;
    border: 0;
    padding: 0;
}

#rs-range-line::-webkit-slider-thumb {
    box-shadow: none;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
    z-index: 3;
    width: 40px;
    height: 20px;
    position: relative;
    margin-top: -7px;
    margin-left: 5px;
}

#rs-range-line::-moz-range-thumb {
    box-shadow: none;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
    z-index: 3;
    width: 40px;
    height: 20px;
    position: relative;
    margin: -7px;
    margin-left: 5px;
}

#selector {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    bottom: 5px;
    z-index: 2;
    cursor: pointer;
}

#selector>.selectBtn {
    position: absolute;
    width: 12px;
    height: 12px;
    background: linear-gradient(106.9deg, #265DB0 1.44%, #18277A 98%);
    border-radius: 50%;
}

#rs-range-line::-moz-focus-outer {
    border: 0;
}

#selector>#selectValue {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -30px;
    left: -4px;
    border-radius: 50% 50% 0 50%;
    background: linear-gradient(142.25deg, #7CB8F7 20.3%, #2A8BF2 74.69%);
    -webkit-transform: rotate( 45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate( 45deg);
}

#selector>.output {
    position: absolute;
    color: #fff;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    font-size: .65rem;
}

.pBar {
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 1;
    background: linear-gradient(142.25deg, #7CB8F7 20.3%, #2A8BF2 74.69%);
    pointer-events: none;
}

.searchBox>button[type="submit"] {
    font-size: 1.5rem;
}

.sortBy {
    font-weight: 400;
    color: #707C97;
}

#sortByFlt {
    position: relative;
    color: #707C97;
    box-shadow: none;
    padding-right: 20px;
}

#sortByFlt::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-image: url(../images/icons/caret-down-blue.png);
}

.candidateCard {
    position: relative;
    background-color: #fff;
    padding: 25px 30px;
}

.boostedCandidate {
    position: absolute;
    width: auto;
    background-color: #F2D24F;
    padding: 10px 30px;
    font-size: 14px;
    right: 30px;
}

.boostedCandidate>img {
    width: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

.candidateCard .candidateImg>img {
    width: 70px;
    height: 70px;
}

.candidateCard .candidateInfo h2 {
    color: #707C97;
    font-size: 29px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.candidateCard .candidateInfo ul {
    margin-bottom: 2rem;
}

.candidateCard ul>li {
    font-size: 17px;
    color: #0D1C2E;
}

.work-status {
    display: inline-block;
    font-size: 12px;
    padding: .25rem 10px;
    color: #fff;
    max-width: 198px;
    width: auto;
}

.ready {
    background-color: #00C30599;
}

.working {
    background-color: #4092EA;
}

.seeking {
    background-color: #F8A458;
}


/* Pagination css */

.paginationNumbers .page-link {
    color: var(--color2);
    text-decoration: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-size: 18px;
    font-weight: 400;
    padding: .375rem 1rem;
    border-radius: 5px;
}

.paginationNumbers .page-link:hover,
.paginationNumbers .page-item.active .page-link {
    color: #fff;
    background: linear-gradient(106.9deg, #265DB0 1.44%, #18277A 98%);
    border-color: transparent;
}

.paginationNumbers .page-item.disabled .page-link {
    color: var(--color2);
    opacity: .3;
}

.paginationNumbers .page-item:nth-last-child(1)>.page-link,
.paginationNumbers .page-item:nth-child(1)>.page-link {
    border: 1.5px solid var(--color2);
    border-radius: 5px;
    background: transparent !important;
    color: var(--color2) !important;
    display: block !important;
}

.paginationNumbers .page-item:nth-last-child(1)>.page-link {
    padding-right: 2.5rem;
}

.paginationNumbers .page-item:nth-child(1)>.page-link {
    padding-left: 2.5rem;
}

.paginationNumbers .page-item:nth-child(1)>.page-link::before,
.paginationNumbers .page-item:nth-last-child(1)>.page-link::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../images/icons/arrow-right.png);
    background-size: 100% 100%;
    top: 50%;
    transform: translateY(-52%);
}

.paginationNumbers .page-item:nth-child(1)>.page-link::before {
    left: 10px;
    transform: translateY(-54%) rotateZ( 180deg);
}

.paginationNumbers .page-item:nth-last-child(1)>.page-link::after {
    right: 10px;
}


/* ---------------- Forget Password Page CSS ---------------- */

.foegetPass-sec {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.forgetPassImgSec {
    background-color: #fff;
    padding: 40px 30px 6px 70px;
}

.form2 h2 {
    color: var(--color2);
    font-size: 36px;
    margin-bottom: 30px;
}

.forget-form {
    background-color: #fff;
    padding: 50px;
    position: relative;
    left: -50px;
}

.forgetPassImgSec h2 {
    margin-bottom: 70px;
}

.form2 .form-label {
    color: var(--color1);
    font-size: 14px;
}

.form2 .form-control,
.form1 .form-select,
.form1 .date,
.bootstrap-tagsinput {
    border: 1px solid #E5E5E5;
    font-size: 18px;
    font-weight: 300;
    padding: 1rem;
    box-shadow: none;
    border-radius: 5px;
}

.form2 .form-text {
    display: none;
    margin-top: 0.3rem;
    font-size: 12px;
}

.form2 ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c8c8c8 !important;
    opacity: 1;
    /* Firefox */
}

.form2 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c8c8c8 !important;
}

.form2 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #c8c8c8 !important;
}

.form2 .btn-gr {
    border: 0;
    color: #fff;
    background: linear-gradient(180deg, #4FBCF5 -2.15%, #5A82FC 88.68%);
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 10px;
    box-shadow: none;
}

.form2 .input-group {
    position: relative;
}

.form2 .form-control {
    z-index: 0 !important;
}

.form2 .input-group-text {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1;
    color: var(--color2);
    font-size: 14px;
    border: 0;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}


/* ---------------- Register New User Page CSS ---------------- */

.registerNewUser-sec {
    max-width: 900px;
    padding: 35px 0 100px;
}

.form1 h2 {
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 25px;
}

.form1 .form-step-wrap {
    font-weight: 300;
    font-size: 20px;
    position: relative;
    padding: 30px 0;
    font-size: 1.2rem;
    text-align: center;
    color: #000;
    line-height: 50px;
}

.form1 .form-step-wrap::before {
    position: absolute;
    content: "";
    width: 80%;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color2);
    z-index: 0;
}

.form1 .form-step-wrap .stapNum {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 15px;
    box-shadow: var(--box__shadow);
    z-index: 1;
}

.form1 .form-step-wrap .stapNum.active {
    color: #fff;
    background-color: var(--color1);
    border-radius: 50rem;
    width: 300px;
}

.registerNewUser-form {
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .15);
    border-radius: 10px;
}

.form1 .form-label {
    font-size: 20px;
    font-weight: 300;
    color: #000;
}

.form1 .form-control,
.form1 .form-select,
.form1 .date,
.bootstrap-tagsinput {
    padding: .7rem 1rem;
    outline: none;
}

.form1 .form-select,
.form1 .date {
    padding-right: 2.25rem;
    background-image: url(../images/icons/caret-down-blue.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
}

.form1 .date {
    padding-right: .5rem;
    background-position: right 13px center;
}

.form1 .form-select:invalid {
    color: #c8c8c8;
}

::-webkit-calendar-picker-indicator {
    background-image: url(../images/icons/caret-down-blue.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
}

.form1 .form-check .form-check-label {
    font-size: 20px;
    color: #c8c8c8;
    font-weight: 300;
}

.form1 .form-check .form-check-input {
    border: 1.5px solid var(--color1) !important;
    width: 1.135rem;
    height: 1.135rem;
}

.form1 .form-check .form-check-input:checked {
    background-color: #fff;
}

.form1 .form-check .form-check-input:checked+.form-check-label {
    color: #000;
}

.form1 .form-check .form-check-input:checked[type="radio"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3.3' fill='rgb(11, 81, 255)'/%3e%3c/svg%3e");
}

.form1 .terms {
    padding-top: 10px;
}

.form1 .terms .form-check-label {
    font-size: .9rem;
    color: #000;
    padding-left: 15px;
}

.form1 .terms .form-check-label>a {
    color: var(--color2);
    text-decoration: none;
}

.form1 .btn-gr {
    border: 0;
    color: #fff;
    background: linear-gradient( 180deg, rgba(80, 184, 246, 1) 0%, rgba(90, 130, 252, 1) 100%);
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 10px;
    max-width: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.form1 .mb-5 {
    margin-bottom: 30px !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


/*
 * bootstrap-tagsinput v0.8.0
 * 
 */

.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 200px;
    max-width: fit-content;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

@media (max-width: 575.98px) {
    .bootstrap-tagsinput input {
        font-size: .9rem;
    }
}

.bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none;
}

.bootstrap-tagsinput .badge {
    position: relative;
    padding: 7.5px 17px;
    margin: 5px 10px;
    background: #DDE7FD;
    border-radius: 5px;
    color: #0351FF;
    font-size: 14px;
    font-weight: 300;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.bootstrap-tagsinput .badge [data-role="remove"] {
    display: inline-block;
    cursor: pointer;
    width: 18px;
    height: 18px;
    position: absolute;
    top: -7.5px;
    right: -7.5px;
}

.bootstrap-tagsinput .badge [data-role="remove"]:after {
    position: absolute;
    content: "×";
    left: 0;
    pointer-events: none;
    color: #fff;
    line-height: 19px;
    width: 18px;
    height: 18px;
    background-color: #0351FF;
    border-radius: 50%;
    font-size: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* uplode section css */

.et_pb_contact_form_label {
    width: 160px;
    height: 32px;
    padding-bottom: 5px;
}

input[id="uploadResume"] {
    display: none;
}

label.et_pb_contact_form_label[for="uploadResume"] {
    position: relative;
}

label.et_pb_contact_form_label[for="uploadResume"]:after {
    content: 'Upload';
    background: var(--color1);
    border-radius: 10px;
    width: auto;
    position: absolute;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding: 7px 38px;
    top: 50%;
    transform: translateY(-50%);
}

label.et_pb_contact_form_label[for="et_pb_contact_brand_request_0"]:after {
    content: " (Provide link or Upload files if you already have guidelines)";
    font-size: 12px;
    letter-spacing: -0.31px;
    color: #7a7a7a;
    font-weight: 300;
}

label.et_pb_contact_form_label[for="et_pb_contact_design_request_0"]:after {
    content: " (Provide link or Upload design files)";
    font-size: 12px;
    letter-spacing: -0.31px;
    color: #7a7a7a;
    font-weight: 300;
}

label.et_pb_contact_form_label[for="uploadResume"].changed {
    background-color: #fff;
}

label.et_pb_contact_form_label[for="uploadResume"] {
    cursor: pointer;
    transition: 400ms ease;
}

.file_names {
    display: block;
    position: absolute;
    color: black;
    left: 0;
    bottom: -30px;
    font-size: 13px;
    font-weight: 300;
}

.file_names {
    text-align: center;
    white-space: nowrap;
}

.uploadWrap>.pd_text {
    color: #000;
    font-size: 24px;
}

.uploadWrap>.pd_text2 {
    color: var(--color2);
    font-size: 1rem;
}

.msAgr>p {
    font-size: 18px;
    line-height: 27px;
    color: #000;
    margin-bottom: 25px;
    padding: 0 10px;
}


/* subCards css */

.subCards {
    padding: 60px 0;
}

.subCards>div {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 15px 40px rgba(3, 81, 255, 0.2);
    padding: 40px 45px;
}

.sbPrice {
    padding: 15px 40px;
}

.sbPrice:nth-child(1) {
    border-bottom: 2px solid rgba(3, 81, 255, .2);
}

.sbPrice>h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #707C97;
}

.sbPrice>h1 {
    font-size: 48px;
    line-height: 72px;
    color: var(--color2);
    font-weight: 500;
}

.sbPrice>li {
    position: relative;
    font-size: 18px;
    line-height: 27px;
    color: #231F20;
    padding-left: 38px;
}

.sbPrice>li::before {
    position: absolute;
    content: "";
    background: url(../images/icons/darkblue-tick.png) no-repeat center;
    background-size: 100% 100%;
    width: 21px;
    height: 21px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.btn-ltBlue {
    background-color: var(--color2);
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #fff !important;
    box-shadow: none !important;
}

.subCards>div:nth-child(1),
.subCards>div:nth-last-child(1) {
    z-index: 1;
}

.subCards>div:nth-child(2) {
    background-color: var(--color1);
    box-shadow: 0px 15px 40px rgba(3, 81, 255, 0.2);
    z-index: 2;
}

.subCards>div:nth-child(2) .sbPrice>h3 {
    font-size: 36px;
    line-height: 54px;
    color: #fff;
}

.subCards>div:nth-child(2) .sbPrice>h1 {
    font-size: 52px;
    line-height: 78px;
    color: #fff;
}

.subCards>div:nth-child(2) .sbPrice>li {
    color: #fff;
    margin: 12.5px 0;
}

.subCards>div:nth-child(2) .sbPrice>li::before {
    background: url(../images/icons/lightblue-tick.png) no-repeat center;
    background-size: 100% 100%;
    width: 21px;
    height: 21px;
}

.subCards>div:nth-child(2) .sbPrice:nth-child(1) {
    border-bottom: 2px solid rgba(255, 255, 255, .4);
}

.subCards>div:nth-child(2) .btn-ltBlue {
    background-color: #fff;
    color: var(--color2) !important;
}

.imgWrap {
    width: 225px;
    height: 225px;
}

.textWrep {
    max-width: 588px;
    width: 100%;
    font-size: 24px;
    line-height: 36px;
    color: #231F20;
    margin: 84px 0;
}

.appD-wrap {
    max-width: 458px;
    text-align: center;
}

.appD-wrap>a {
    display: inline-block;
    padding: 0 10px;
}


/* contectUs-sec css */

.contectUs-sec {
    max-width: 1200px;
    width: 100%;
    height: calc(100vh - 144px);
}

.contect-up-wrep {
    color: #707C97;
}

.contect-up-wrep h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}

.contect-up-wrep h3 {
    font-weight: 300;
    font-size: 36px;
    line-height: 54px;
}

.contect-up-wrep h4 {
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
}

.cont-form {
    padding: 45px 35px;
    background-color: #fff;
}

.form1.cont-form .btn-gr {
    border: 0;
    color: #fff;
    background: linear-gradient( 180deg, rgba(80, 184, 246, 1) 0%, rgba(90, 130, 252, 1) 100%);
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 10px;
    transform: translate(0);
    left: 0;
    max-width: 100%;
}

.contect-down-wrep {
    padding-right: 80px;
}

.contect-down-wrep h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #707C97;
    margin-bottom: 30px;
}

.contect-down-wrep>ul>li,
.contect-down-wrep>ul>li>a {
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: #0D1C2E;
}

.contect-down-wrep>ul>li>a,
.socialIcons>a {
    display: inline-block;
    text-decoration: none;
}

.socialIcons {
    padding: 50px 0;
}

.socialIcons>a>svg>.icon {
    fill: #BCBCBC;
    transition: all .3s ease-out;
}

.socialIcons>a:hover>svg>.icon {
    fill: #0351FF;
    transition: all .3s ease-in;
}

.ft3-cont {
    max-width: 1354px;
    width: 100%;
}


/* ---------------- Register Options Page CSS ---------------- */

.form3 .btns-wrap {
    max-width: 520px;
    width: 100%;
}

.form3 .registerNewUser-form>h2 {
    font-size: 30px;
}

.form3 .btn-gr2 {
    border: 0;
    color: #fff;
    background: linear-gradient( 180deg, rgba(80, 184, 246, 1) 0%, rgba(90, 130, 252, 1) 100%);
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 10px;
    box-shadow: none;
}

.form3 .or-text {
    position: relative;
    font-size: 18px;
    line-height: 27px;
    color: #000;
    margin: 30px auto;
    max-width: 310px;
    width: 100%;
    padding: 10px;
    z-index: 2;
}

.form3 .or-text::before,
.form3 .or-text::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form3 .or-text::before {
    height: 1px;
    width: 100%;
    background: #000;
    opacity: .3;
    z-index: -2;
}

.form3 .or-text::after {
    content: "";
    height: 20px;
    width: 40px;
    background: #fff;
    z-index: -1;
}

.form3 .btn-signUp {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #5E5E5E;
}

.form3 .btn-signUp>svg {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}


/* ---------------- Payment Section Page css Start ---------------- */

.paymentSection {
    width: 100%;
    max-width: 700px;
    font-weight: 300;
    font-size: 18px;
    color: var(--color3);
    line-height: 27px;
    padding: 50px 0;
}

.paymentSection>h2 {
    color: var(--color2);
    font-size: 36px;
    padding-left: 1.5rem;
}

.paymentSection .planCard-wrap {
    padding: 15px 20px;
    color: #fff;
    background: linear-gradient(106.9deg, #265DB0 1.44%, #18277A 98%);
    box-shadow: 0px 0px 20px rgba(86, 153, 250, 0.25);
    border-radius: 10px;
}

.paymentSection .planCard-wrap>div>h5 {
    font-size: 30px;
    line-height: 1;
    font-weight: 400;
}

.paymentSection .planCard-wrap>div>h5>span,
.paymentSection .planCard-wrap>div>div>h6 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
}

.paymentSection .planCard-wrap>div>div>h6 {
    font-weight: 400;
}

.paymentSection .paymentForm-wrap {
    padding: 30px 35px;
    border-radius: 10px;
    background-color: #fff;
}

.paymentSection h5 {
    margin-bottom: 20px;
}

.form4 .form-control,
.form4 .form-select {
    border-color: #707C97;
}

.form4 .form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #707C97 !important;
    opacity: 1;
    /* Firefox */
}

.form4 .form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #707C97 !important;
}

.form4 .form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #707C97 !important;
}

.form4 .form-select:invalid {
    color: #707C97;
}

.form4 input[type=radio] {
    margin: 0;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
}

.form4 .form-check-label {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.form4 .form-check-label>span:nth-child(1) {
    color: #707C97;
    font-weight: 500;
}

.form4 .check-wrap1,
.form4 .check-wrap2 {
    background: #FFFFFF;
    border: 1px solid #707C97;
    margin: 0 !important;
    display: flex;
    /* padding: 0; */
    align-items: center;
    height: 115px;
}

.form4 .check-wrap1 {
    border-radius: 5px 5px 0px 0px;
}

.form4 .check-wrap2 {
    border-top: none;
    border-radius: 0px 0px 5px 5px;
}

.bg-gray {
    background: #F8F8F8 !important;
}

.form4 .btn-gr2 {
    margin-top: 50px;
    border: 0;
    color: #fff;
    background: linear-gradient( 180deg, rgba(80, 184, 246, 1) 0%, rgba(90, 130, 252, 1) 100%);
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 10px;
    box-shadow: none;
}