ul.conversation-list {
    margin-bottom: 0;
}


/* chat-right */

.conversation-list .ctext-wrap {
    color: #fff;
    background: linear-gradient(90.54deg, #60A9F6 0%, #2A8BF2 100%);
    /* Shadow Block Message My Opponent */
    box-shadow: 10px 10px 25px rgba(42, 139, 242, 0.1), 15px 15px 35px rgba(42, 139, 242, 0.05), 10px 10px 50px rgba(42, 139, 242, 0.1);
    border-radius: 0px 10px 10px 10px;
}

.conversation-list .ctext-wrap>i {
    color: #fff;
}


/* chat-left */

.conversation-list .odd .ctext-wrap {
    color: #707C97;
    background: #FFFFFF;
    border: 1px solid rgba(112, 124, 151, 0.25);
    box-sizing: border-box;
    box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
}

.conversation-list .odd .ctext-wrap>i {
    color: #707C97;
}


/* chat-sender css */

.chat-sender {
    border-top: 2px solid rgba(112, 124, 151, 0.15);
}

.btn-blue-gr {
    color: #fff !important;
    border-radius: 50%;
    background: linear-gradient( 325.78deg, #2A8BF2 14.76%, #7CB8F7 87.3%);
    box-shadow: 4px 4px 25px rgb(42 139 242 / 15%), 2px 2px 25px rgb(42 139 242 / 5%), 4px 6px 10px rgb(42 139 242 / 15%) !important;
    padding: 6px 10px;
}